@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@300;500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.close-button {
  display: inline-flex;
  font-size: 0.9rem;
  color: #222;
  text-decoration: none;
  align-items: center;
  line-height: 1;
  padding: 0.2rem;
  gap: 4px !important;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  span {
    margin-top: -0.1rem;
    font-size: 1.6rem;
    margin-right: 0.6rem;
    text-decoration: none !important;
  }
}

#content {
  margin: 0 auto;
  padding: 80px 20px;
  max-width: 1024px;
}

.header {
  display: flex;
  flex-direction: column;

  .logo {
    display: flex;
    justify-content: space-between;

    .logo-anchor {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      color: #202020;
      text-decoration: none;
      gap: 16px;

      img {
        height: 50px;
      }

      span {
        font-size: 20px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 500;
      }
    }
  }

  .title {
    display: flex;
    padding: 50px 0 30px 0;

    h1 {
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: "Nanum Myeongjo", serif;
      font-weight: 800;
      font-size: 40px;
      margin: 0;
      padding: 0;
      line-height: 1.41em;
    }
  }

  .banners {
    display: flex;
    flex-direction: row;
    gap: 16px;

    > div {
      display: flex;
      flex: 1;
      flex-direction: column;
      background-color: #f2e1ae;
      gap: 16px;
      padding: 16px;
      border-radius: 8px;

      p {
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 300;
        font-size: 17px;
        line-height: 1.52em;
        margin: 0;

        a {
          color: #fff;
        }
      }

      &.red {
        background-color: #f23d4c;
        color: #fff;
      }
    }
  }

  .banner-title {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;

    span {
      font-size: 32px;
      margin-right: 12px;
    }
  }
}

.installation {
  margin: 50px 0;

  h2 {
    margin: 0;
    padding: 0;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    font-size: 28px;

    a {
      color: #5bd9ab;
    }
  }

  .banners {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    > div {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: #efefef;
      border-radius: 8px;
      padding: 16px;
      justify-content: space-between;
      gap: 16px;
    }
  }

  .banner-title {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.41em;

    span {
      font-size: 26px;
      margin-right: 12px;
      align-self: flex-start;
    }
  }

  .banner-content {
    display: flex;
    flex-direction: column;

    p {
      font-family: "Noto Sans KR", sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.52em;
      margin: 4px 0;

      a {
        display: inline-block;
        background: #5bd9ab;
        padding: 10px 16px;
        font-size: 20px;
        line-height: 1;
        border-radius: 6px;
        color: #202020;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .install-description {
      background-color: #fff;
      border-radius: 4px;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding: 16px;

      img {
        display: block;
        width: 80%;
      }
    }

    .bye {
      img {
        position: absolute;
        display: block;
        width: 60%;
        bottom: 5%;
        right: 10%;
        opacity: 0.8;
      }
    }
  }
}

.milestone {
  margin: 50px 0;

  h2 {
    margin: 0;
    padding: 0;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    font-size: 28px;

    span {
      font-family: "Noto Sans KR", sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #909090;
      margin-left: 8px;
    }
  }

  .banners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 20px;

    > div {
      display: flex;
      background-color: #f0f0f0;
      padding: 16px;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 8px;

      p {
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.52em;
        margin: 16px 0;

        a {
          display: inline-block;
          background: #5bd9ab;
          padding: 10px 16px;
          font-size: 20px;
          line-height: 1;
          border-radius: 6px;
          color: #202020;
          font-weight: bold;
          text-decoration: none;
        }
      }

      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
  }

  .banner-title {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.41em;

    span {
      font-size: 26px;
      margin-right: 12px;
      align-self: flex-start;
    }
  }
}
