html > grammar-mirror[data-generated="whale-grammar"] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

html grammar-extension[data-generated="whale-grammar"] {
  position: absolute;
  width: 0;
  height: 0;
  overflow: visible;
  pointer-events: none;
}